{% extends "base.html" %}

{% block titulo %} Detalles de {{ cancion.nombre }} {% endblock %}

{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png">
        </div>
        <div class="media-body">
            <h2>{{ cancion.nombre }}</h2>
            <p>{{ cancion.autor }}</p>
            <p>{{ cancion.genero }}</p>


            {% if puedecomprar == "true" %}
            <a class="btn btn-primary pull-right" href="/cancion/comprar/{{cancion._id.toString()}}">
                {{cancion.precio}} € - {{ cancion.usd }} $
            </a>
            {%else%}
            <audio controls>
                <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
            </audio>
            {% endif %}

            <!-- Cambiar el precio por "reproducir" si ya está comprada -->
        </div>
    </div>
</div>

<!-- Comentarios -->
<div class="row">
    <div class="media col-xs-10">
        <h2>Comentarios</h2>
        <div class="media-body">
            {% for comentario in comentarios %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                <div>
                    <div class="wrap">Autor: {{ comentario.autor }}</div>
                    <div class="small">Comentario: {{ comentario.texto }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Agregar comentario -->
<form class="form-horizontal" method="post" action="/comentario/{{ cancion._id.toString() }}">
    <div class="media col-xs-10">
        <h2>Agregar Comentario</h2>
        <div class="form-group">
            <label for="texto">Texto:</label>
            <input type="text" class="form-control" name="texto" required="true"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>

{% endblock %}