{% extends "../base.html" %}

{% block titulo %} Invitaciones {% endblock %}

{% block contenido_principal %}

<div class="container">
    <h2>Lista de peticiones</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th class="col-md-1"></th>

            </tr>
            </thead>
            <tbody>
            {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.emisor.name }}</td>
                <td>{{ invitation.emisor.email }}</td>
                <td>
                    <form action="/invitations/accept" method="post">
                        <button
                                type="submit"
                                id="sendButton-{{ invitation.emisor.email }}"
                                class="btn btn-default"
                                name="email"
                                value="{{ invitation.emisor.email }}"
                        >
                            Aceptar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for pagina in paginas %}
            <li class="page-item" id="pi-{{pagina}}">
                <a class="page-link" href="/invitations?pg={{pagina}}">{{pagina}}</a>
            </li>
            {% endfor %}
            <script>
                $("#pi-{{ actual }}").addClass("active");
            </script>
        </ul>
    </div>
</div>

{% endblock %}